{% block sw_cms_block_preview_grid_md_4_8 %}
    <div class="sw-cms-block-preview-grid-md-4-8">
        <div class="grid-element"></div>
        <div class="grid-element"></div>
    </div>
{% endblock %}
