{% block sw_cms_block_grid_md_3_9 %}
    <div class="sw-cms-block-grid-md-3-9">
        <slot name="content1">{% block sw_cms_block_grid_md_3_9_content1 %}{% endblock %}</slot>
        <slot name="content2">{% block sw_cms_block_grid_md_3_9_content2 %}{% endblock %}</slot>
    </div>
{% endblock %}
