{% block sw_cms_block_grid_md_4_4_4 %}
    <div class="sw-cms-block-grid-md-4-4-4">
        <slot name="content1">{% block sw_cms_block_grid_md_4_4_4_content1 %}{% endblock %}</slot>
        <slot name="content2">{% block sw_cms_block_grid_md_4_4_4_content2 %}{% endblock %}</slot>
        <slot name="content3">{% block sw_cms_block_grid_md_4_4_4_content3 %}{% endblock %}</slot>
    </div>
{% endblock %}
