{% block sw_cms_block_preview_grid_md_9_3 %}
    <div class="sw-cms-block-preview-grid-md-9-3">
        <div class="grid-element"></div>
        <div class="grid-element"></div>
    </div>
{% endblock %}
