{% block sw_cms_block_preview_grid_md_8_4 %}
    <div class="sw-cms-block-preview-grid-md-8-4">
        <div class="grid-element"></div>
        <div class="grid-element"></div>
    </div>
{% endblock %}
