{% block sw_cms_block_grid_md_8_4 %}
    <div class="sw-cms-block-grid-md-8-4">
        <slot name="content1">{% block sw_cms_block_grid_md_8_4_content1 %}{% endblock %}</slot>
        <slot name="content2">{% block sw_cms_block_grid_md_8_4_content2 %}{% endblock %}</slot>
    </div>
{% endblock %}
