{% block sw_cms_block_grid_md_4_8 %}
    <div class="sw-cms-block-grid-md-4-8">
        <slot name="content1">
            {% block sw_cms_block_grid_md_4_8_content1 %}{% endblock %}
        </slot>
        <slot name="content2">
            {% block sw_cms_block_grid_md_4_8_content2 %}{% endblock %}
        </slot>
    </div>
{% endblock %}
