{% block cms_block_grid_md_6_6 %}
    {% set columns = 2 %}

    {% block cms_block_grid_md_6_6_element1 %}
        {% set element = block.slots.getSlot('content1') %}

        <div class="col-md-6" data-cms-element-id="{{ element.id }}">
            {% block cms_block_grid_md_6_6_element1_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block cms_block_grid_md_6_6_element2 %}
        {% set element = block.slots.getSlot('content2') %}

        <div class="col-md-6" data-cms-element-id="{{ element.id }}">
            {% block cms_block_grid_md_6_6_element2_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
